@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

:root {
  --bg-dark: #070709;
  --text-light: #f4f4f5;
  --accent: #ff2a2a; 
  --muted: #55555c;
}

